@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Authentication.Cookies
@model Helping_Hands.Models.UpdatePasswordViewModel
@{
    var username = Context.Session.GetString("Username");
    var userType = Context.Session.GetString("UserType");
    var isLoggedIn = !string.IsNullOrEmpty(username);

}

@{
    ViewData["Title"] = "UpdatePassword";
    Layout = "~/Views/Shared/_SecondLayout.cshtml";
}
<head>
    <link rel="stylesheet" href="~/css/ResetPassword.css" />
</head>
<style>
    .chumani {
        position: absolute;
        top: 100px;
        right: 8px;
        padding: 20px;
        background-color: #8b9eb7; /* Choose your preferred background color */
        color: #222831; /* Text color */
        border-radius: 5px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
        max-width: 300px; /* Adjust the maximum width as needed */
    }

        .chumani h2 {
            font-size: 24px;
            font-weight: bold; /* Add this line to make the text bold */
        }

    .header-right {
        position: absolute;
        right: 5px;
    }

    .header-right {
        position: absolute;
        right: 5px;
    }

    .user-type {
        font-weight: bold;
        display: inline-block;
        padding: 6px 12px;
        background-color: #f0f0f0;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    .welcome {
        font-weight: bold;
        color: #4E76A1;
        font-size: 18px;
    }

    span.suburb {
        font-weight: bold;
        color: #4E76A1;
        font-size: 18px;
        text-align: right;
    }



    div.contain {
        text-align: right;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
    }

    ul.second {
        display: inline-block;
        text-align: left;
    }

    body {
        font-family: Arial, Helvetica, sans-serif;
    }

    * {
        box-sizing: border-box;
    }

    .open-button {
        background-color: #4E76A1;
        color: white;
        padding: 16px 20px;
        border: none;
        cursor: pointer;
        opacity: 0.8;
        position: fixed;
        bottom: 23px;
        right: 10px;
        width: 270px;
        font-weight: bold;
        font-size: 16px;
    }

    .chat-popup {
        display: none;
        position: fixed;
        bottom: 0;
        right: 9px;
        border: 3px solid #f1f1f1;
        z-index: 9;
    }

    .form-container {
        max-width: 600px;
        padding: 10px;
        background-color: white;
    }

        .form-container textarea {
            width: 100%;
            padding: 15px;
            margin: 5px 0 22px 0;
            border: none;
            background: #f1f1f1;
            resize: none;
            min-height: 600px;
        }

            .form-container textarea:focus {
                background-color: #ddd;
                outline: none;
            }

        .form-container .btn {
            background-color: #04AA6D;
            color: white;
            padding: 16px 20px;
            border: none;
            cursor: pointer;
            width: 100%;
            margin-bottom: 10px;
            opacity: 0.8;
        }

        .form-container .cancel {
            background-color: red;
        }

        .form-container .btn:hover, .open-button:hover {
            opacity: 1;
        }

    .new {
        color: red;
    }
    .main {
        margin-left: 200px;
        font-size: 15px;
        padding: 0px 10px;
    }

    .dropdown-container {
        display: none;
        padding-left: 8px;
    }

    .active {
        background-color: green;
        color: white;
    }

    .fa-caret-down {
        float: right;
        padding-right: 8px;
    }

    .sidebar-list a, .dropdown-btn {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 15px;
        color: white;
        display: block;
        border: none;
        background: none;
        width: 100%;
        text-align: left;
        cursor: pointer;
        outline: none;
    }

        .sidebar-list a:hover, .dropdown-btn:hover {
            color: #f1f1f1;
        }

    * {
        font-family: sans-serif;
    }
</style>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

    <!-- Montserrat Font -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/css/NurseDetails.css">

    <link rel="stylesheet" href="style.css">

</head>


<body>
    <div class="grid-container">

        <!-- Header -->
        <header class="header">
            <div class="menu-icon" onclick="openSidebar()">
                <span class="material-icons-outlined">menu</span>
            </div>
            <div class="header-right">
                @if (isLoggedIn)
                {
                    <span class="welcome">Welcome, @username </span>

                    <span class="user-type">@userType</span>
                }
            </div>
            <div class="main-title">
            </div>
        </header>

        <aside id="sidebar" style="background-color:#00416A">
            <div class="sidebar-title">
                <div class="sidebar-brand">
                    <h5 style="color:white"><i class="fa fa-heartbeat" style="color:white;font-size:27px" aria-hidden="true"></i> HELPING HANDS</h5>
                </div>
                <span class="material-icons-outlined" onclick="closeSidebar()">close</span>
            </div>
            <ul class="sidebar-list" style="color:white">
                <li class="sidebar-list-item">
                    <a asp-action="AdminDashboard" asp-controller="User" class="w3-bar-item w3-button"><i class="fas fa-window-maximize" style="font-size:20px;color:white;"></i> Dashboard</a>
                </li>
                <li class="sidebar-list-item">
                    <button class="dropdown-btn">
                        <i class="fa fa-plus-circle" aria-hidden="true" style="font-size:20px;color:white"></i>
                        Manage Nurses
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-container">
                        <a href="~/User/AddNurse"> Add Nurse</a>
                        <a href="~/User/DeactivateNurse">Deactivate Nurse</a>
                        <a href="~/User/ActivateNurse">Activate Nurse</a>

                    </div>
                </li>
                <li class="sidebar-list-item">
                    <button class="dropdown-btn">
                        <i class="fa fa-plus-circle" aria-hidden="true" style="font-size:20px;color:white"></i>
                        Manage O/Manager
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-container">
                        <a href="~/User/AddOfficeManager"> Add Office Manager</a>
                        <a href="~/User/DeactivateOfficeManager">Deactivate Office Manager</a>
                        <a href="~/User/ActivateOfficeManager">Activate Office Manager</a>

                    </div>
                </li>

                <li class="sidebar-list-item">
                    <button class="dropdown-btn">
                        <i class="fa fa-location-arrow" aria-hidden="true" style="font-size:20px;color:white"></i>
                        Manage Location
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-container">
                        <a href="~/User/Cities"> Manage Cities</a>
                        <a href="~/User/Suburb">Manage Suburbs</a>


                    </div>
                </li>

                <li class="sidebar-list-item">
                    @if (isLoggedIn)
                    {
                        <form asp-action="Logout" asp-controller="User" method="post">
                            <button type="submit" style="background-color:#00416A; font-size:15px; border:none;color:white"><i class="fa fa-sign-out" aria-hidden="true" style="font-size:20px;color:white"></i> Logout</button>
                        </form>
                    }
                </li>


            </ul>
        </aside>


        <main class="main-container">


            @if (!string.IsNullOrEmpty(TempData["SuccessMessage"] as string))
            {
                <div class="alert alert-success">
                    @TempData["SuccessMessage"]
                </div>
            }

            @if (!string.IsNullOrEmpty(TempData["ErrorMessage"] as string))
            {
                <div class="alert alert-danger">
                    @TempData["ErrorMessage"]
                </div>
            }
            <div class="mainDiv">
                <div class="cardStyle">
                    <form asp-action="ChangePassword" method="post">



                        <h2 class="formTitle">
                            Change your Password
                        </h2>
                        <div class="inputDiv">
                            <label class="inputLabel" asp-for="CurrentPassword">Current Password<span class="new">*</span></label>
                            <input asp-for="CurrentPassword" required>
                            <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                        </div>
                        <div class="inputDiv">
                            <label class="inputLabel" asp-for="NewPassword">New Password<span class="new">*</span></label>
                            <input asp-for="NewPassword" required>
                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                        </div>

                        <div class="inputDiv">
                            <label class="inputLabel" asp-for="ConfirmationPassword">Confirm Password<span class="new">*</span></label>
                            <input asp-for="ConfirmationPassword" required>
                            <span asp-validation-for="ConfirmationPassword" class="text-danger"></span>
                        </div>
                        <div class="buttonWrapper">
                            <button type="submit" class="submitButton pure-button pure-button-primary">
                                <span>Save</span>
                                <div class="loader" style="display: none;"></div>
                            </button>

                        </div>
                    </form>
                    <br />
                    <div class="text-center">
                        <a asp-action="AdminDashboard" asp-controller="User" class="btn btn-success btn-lg">Back</a>
                    </div>

                </div>
            </div>


        </main>


    </div>



</body>
<script>
    function openForm() {
        document.getElementById("myForm").style.display = "block";
    }

    function closeForm() {
        document.getElementById("myForm").style.display = "none";
    }



    document.querySelector("form").addEventListener("submit", function () {
        const button = document.querySelector("button[type=submit]");
        const loader = document.querySelector(".loader");

        // Disable the button
        button.disabled = true;

        // Show the loader
        loader.style.display = "inline-block";
    });
    var dropdown = document.getElementsByClassName("dropdown-btn");
    var i;

    for (i = 0; i < dropdown.length; i++) {
        dropdown[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var dropdownContent = this.nextElementSibling;
            if (dropdownContent.style.display === "block") {
                dropdownContent.style.display = "none";
            } else {
                dropdownContent.style.display = "block";
            }
        });
    }


    

</script>
<script src="~/js/Nurse.js"></script>







